.body {
    $min-height: 245px;
    $border: 1px solid #f0abfc4d;
    width: 867px;
    min-height: $min-height;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: $border;
    border-left: $border;
    background-color: #FFF;

    &.loader {
        border-bottom: $border;
    }

    .row {
        $height: 48px;
        height: $height;
        line-height: $height;
        width: calc(100% - 32px);
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        $border: 1px solid #f0abfc4d;
        border-bottom: $border;
        font-family: Arial, Helvetica, sans-serif;

        &:last-child {
            border-bottom-color: transparent;
        }

        .label {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #0c0d0e;
            font-size: 14px;
        }

        .link {
            color: #C00BB9;
            font-size: 12px;
            cursor: pointer;
            text-decoration-line: none;
        }
    }

    .finish {
        line-height: $min-height;
        color: #0C0D0E;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
}