.button {
    height: 28px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #F0ABFC;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }

    .text {
        color: #0C0D0E;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
    }
}